body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 300px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 10px;
    position: relative;

  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
  }
  
  .sidebar input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
  }
  
  .sidebar button {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 20px;
  }
  
  .sidebar button:hover {
    background-color: #0056b3;
  }
  
/*outer whilte color box*/
  .results {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
    background-color: #f4f6f8;
 
  
  }
  
  .results h1 {
    margin-top: 5px;
  }
  
  #output {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff;

  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

  }
  
  table th {
    background-color: #007bff;
    color: white;
    padding: 10px;
  }
  
   .chart-container {
    margin-bottom: 1px; 
    width: 100%;     
    max-width: 1200px; 
    min-height: 300px;
    height: auto;
    aspect-ratio: 2/1;
    background-color: white;
    border-radius: 10px;
   }
     

  .mainHeading {
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
    margin-top: 15px;
  }